/* 语言高亮 */
.language{
	font-family: 'Courier New', Courier, monospace;
	tab-size:4;
}
.hl-shell{
	color: green;
}
.hl-help{
	color: wheat;
}
.hl-repl_pkg{
	color: rgb(16,64,224);
}
.hl-repl_shell{
	color: red;
}
.hl-error{
	color: red;
}
.hl-comment{
	color: darkolivegreen;
}
.hl-string{
	color: brown;
}
.hl-keyword{
	color: purple;
}
.hl-special{
	color: royalblue;
}
.hl-escape{
	color: goldenrod;
}
.hl-interpolation{
	color: skyblue;
}
.hl-plain{
	color: black;
}
.hl-macro{
	color: #d7c787;
}
.hl-function{
	color: #d0c080;
}
.hl-number{
	color: yellowgreen;
}
.hl-type{
	color: forestgreen;
}

/* 主标签额外 */
.footnote > p{
	display: inline;
}

/* 附加功能 */
.checkis{
	display: none;
}
.codeblock-paste{
	background-color: transparent;
	float: right;
}
.codeblock-body{
	display: table-row;
}
.codeblock-num{
	display: table-cell;
	width: 3em;
	overflow-x: hidden;
}
.codeblock-code{
	display: table-cell;
}
/* .codeblock-num > div{
	height: 1em;
} */
annotation{
	display: none;
}
