@charset "UTF-8";
/* 语言高亮 */
pre code.hljs {
	display: block;
	overflow-x: auto;
	padding: 1em;
	font-family: 'Courier New', Courier, monospace;
	tab-size: 4;
}

code.hljs {
	padding: 3px 5px
}

/* 附加 */
.footnote>p {
	display: inline;
}

.checkis {
	display: none;
}

.codeblock-paste {
	background-color: transparent;
	float: right;
}

annotation {
	display: none;
}

table{
	border-spacing: 0;
	border-collapse: collapse;
}

.li-dir span::before{
	content: "📁 ";
}
.li-file span::before{
	content: "📄 ";
}
.li-dir span.li-marked::before{
	content: "📦 ";
}
.li-file span.li-marked::before{
	content: "📑 ";
}
.li-marked a::after{
	content: "🔖";
}

.test-area > span::after{
	content: " ";
}
.test-area{
	display: block;
}
.test-area p:nth-child(2){
	display: inline;
}

.box-hide>div{
	display: none;
}
.box-unhide>span{
	display: none;
}
